@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-font-family: 'Poppins', sans-serif;
  --upload-submission-button-color: rgb(68, 146, 76);
}

body {
  font-family: var(--primary-font-family);

}

.uploadSubmissionBtn {
  background-color: var(--upload-submission-button-color) !important;
  border: none;
}

h1,
h2,
h6 {
  font-family: var(--primary-font-family) !important;
  font-weight: 600 !important;
  line-height: 60px !important;
  font-size: 42px !important;
}

.favouriteSubmissions,
.allSubmissions {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  padding: 0px 10px
}

.favouriteSubmissions>a,
.allSubmissions>a {
  text-decoration: none;
  color: black;
}


p {
  font-family: var(--primary-font-family);
  line-height: 25.5px;
  font-size: 17px;
  font-weight: 500;
}

.heroContainer {
  background-image: url('../src/assets/waves.png');
  background-repeat: repeat-x;
  background-size: cover;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #9ca3af;
}

label {
  font-family: var(--primary-font-family);
}

#heroSectionRow {
  flex-wrap: wrap-reverse !important;
}

.linkButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardShadow {
  -webkit-box-shadow: 8px 9px 20px 0px rgba(224, 211, 224, 1);
  -moz-box-shadow: 8px 9px 20px 0px rgba(224, 211, 224, 1);
  box-shadow: 8px 9px 20px 0px rgba(224, 211, 224, 1);
}

@media (max-width : 426px) {
  /* .itemsMedia {
    justify-content: center !important;
  } */
}

input[type="file"] {
  display: none;
}

.file-search-button {
  height: 5rem;
  width: 20rem;
  background: #e3d9d9;
  padding: auto;
  border-radius: 6px;
  border: 2px dotted black;
}

.custom-file-upload {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputFile {
  border: 3px dashed grey;
  border-radius: 10px;
  border-radius: 24px;
  background-color: rgba(245, 245, 245, 1);
}